/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f7;
    color: #4a536e;
}

/* Header styles */
h1 {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

/* Navigation links */
a {
    display: block;
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
    text-decoration: none;
    color: #3274d6;
}

a:hover {
    color: #2868c7;
}

/* Form styles */
form {
    width: 300px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

p {
    width: 300px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 40px); /* Adjust as needed */
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #dee0e4;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3274d6;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #2868c7;
}

/* Message styles */
p.message {
    text-align: center;
    margin-top: 20px;
    color: #ff0000; /* Adjust as needed */
}
